Project/MyApp/Service References/ServiceReference1/Maslata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CustomerLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NationalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerRequists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerRequistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerRequistsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrintDocResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CustomerLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerLogin" />
  </wsdl:message>
  <wsdl:message name="CustomerLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerRequistsSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerRequists" />
  </wsdl:message>
  <wsdl:message name="CustomerRequistsSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerRequistsResponse" />
  </wsdl:message>
  <wsdl:message name="PrintDocSoapIn">
    <wsdl:part name="parameters" element="tns:PrintDoc" />
  </wsdl:message>
  <wsdl:message name="PrintDocSoapOut">
    <wsdl:part name="parameters" element="tns:PrintDocResponse" />
  </wsdl:message>
  <wsdl:portType name="MaslataSoap">
    <wsdl:operation name="CustomerLogin">
      <wsdl:input message="tns:CustomerLoginSoapIn" />
      <wsdl:output message="tns:CustomerLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerRequists">
      <wsdl:input message="tns:CustomerRequistsSoapIn" />
      <wsdl:output message="tns:CustomerRequistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintDoc">
      <wsdl:input message="tns:PrintDocSoapIn" />
      <wsdl:output message="tns:PrintDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaslataSoap" type="tns:MaslataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerLogin">
      <soap:operation soapAction="http://tempuri.org/CustomerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerRequists">
      <soap:operation soapAction="http://tempuri.org/CustomerRequists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintDoc">
      <soap:operation soapAction="http://tempuri.org/PrintDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MaslataSoap12" type="tns:MaslataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerLogin">
      <soap12:operation soapAction="http://tempuri.org/CustomerLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerRequists">
      <soap12:operation soapAction="http://tempuri.org/CustomerRequists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintDoc">
      <soap12:operation soapAction="http://tempuri.org/PrintDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Maslata">
    <wsdl:port name="MaslataSoap" binding="tns:MaslataSoap">
      <soap:address location="http://localhost:58355/Maslata.asmx" />
    </wsdl:port>
    <wsdl:port name="MaslataSoap12" binding="tns:MaslataSoap12">
      <soap12:address location="http://localhost:58355/Maslata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>